.background { 
    background-image: linear-gradient(
        var(--main-blue-green),
          var(--second-blue) 
          )
}
.homepic { 
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("https://images.pexels.com/photos/1928067/pexels-photo-1928067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    box-shadow: 0 2px 2px var(--tertiary), 0 6px 12px var(--tertiary);
}

.homeBackground { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    margin: 8px 8px 16px 8px;
    background-color: rgba(255, 255, 255, 0.61);
    border: rgba(255, 255, 255, 0.61) 2px solid;
    border-radius: 8px;
    box-shadow: 0 2px 2px var(--tertiary), 0 6px 12px var(--tertiary);
    
}