
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #ff4d32;;
  --secondary: hsl(0, 0%, 100%);
  --tertiary: #1f0905;
  --light: #66d1ad;
  --cultured: #6689d1;
  --dark: #78d166;
  --darker: #111111;

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  /* background-color: var(--light); */
}

h1,
h2,
h3 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  /* font-family: 'Crete Round'; */
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
  margin-top: 0;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mycard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    margin: 8px 8px 16px 8px;
    width: 85%;
  border-radius: 8px;
  height: 400px;
  box-shadow: 0 2px 2px var(--tertiary), 0 6px 12px var(--tertiary);
}

.headingborder { 
    background-color: var(--secondary);
    border:var(--cultured) solid 2px;
    text-align: center;
}

.landmarkCard { 
    background-color: var(--secondary);
    border:var(--cultured) solid 2px;
    padding: 20px; 
    text-align: center;
} 

.tallyCard {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    margin: 8px 8px 16px 8px;
  background-color: var(--secondary);
  border: var(--cultured) solid 2px;
  text-align: center;
  border-radius: 5px;
  width: 85%;
  box-shadow: 0 2px 2px var(--tertiary), 0 6px 12px var(--tertiary);
}

#about { 
    display: block;

}
.badge { 
    flex-wrap: wrap;
    padding: 10px;
}

.username{ 
    justify-content: center;
    line-height: 1.61;
}

.bio { 
    justify-content: center;
    line-height: 1.61;
}

 .landmarkpic {
    border-radius: 8px;
    box-shadow: 0 2px 2px var(--tertiary), 0 6px 12px var(--tertiary);
}
.description { 
    padding: 10px;
    justify-content: center;
}

.cardborder { 
    padding: 15px
}